.button {
  display: flex;
  justify-content: center;
  border: 1px solid $page-color;
  border-radius: 5px;
  background: $page-color;
  color: #fff;
  @include font(14, 700);
  line-height: 38px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background: #fff;
    color: $page-color;
  }
}
